<template>
  <div class="wrapper">
    <div v-if="isLoading == false" v-html="content" />
    <div v-if="isLoading">
      <h1>Loading Preview..</h1>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      content: '',
      isLoading: true
    }
  },
  props: {
    pageKey: String,
    slotKey: {
      type: String,
      default: 'default'
    }
  },
  created() {
    const pageKey = this.pageKey || this.$parent.$page.key
    const slotKey = this.slotKey
    const fullPath = '/' + this.$page.relativePath

    this.prevStorage.getContent(fullPath, slotKey).then(data => this.content = data).catch((err) => this.content = '<h1>Error<h1><code>' + err + '</code>').finally(() => this.isLoading = false)
  }
}
</script>